{% extends 'base.html' %}

{% block title %}
    Abastecimentos
{% endblock %}

{% block content %}
    {% include 'flash.html' %}
    <div class="container">
        <div style="display: flex; align-items: center; margin-bottom: 20px;">
            <img src="{{ url_for('static', filename='images/bomba.png')}}" style="max-width: 30%; height: auto; margin-right: 20px; margin-left: -10px; " alt="Logo" />
            <h1>Cadastro de abastecimento</h1>
        </div>
        <form action="/processar_formulario" method="post" id="abastecimentos" class="dados" autocomplete="off">
            <div class="form-group">
                <label for="data">Data</label>
                <input type="date" class="form-control" id="data" name="data" required>
            </div>
            <div class="form-group">
                <label for="motorista">Motorista</label>
                <input type="text" class="form-control" id="motorista" name="motorista" required>
                <div id="motoristaOptions" class="dynamic-options">
                    {% for motorista in motoristas %}
                        <div class="dynamic-option">{{ motorista.motorista }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <label for="placa">Placa</label>
                <input type="text" class="form-control" id="placa" onchange="setTimeout(verificarPlaca, 300)" pattern="[A-z]{3}-\d[A-j0-9]\d{2}" name="placa" maxlength="8" required>
                <div id="placaOptions" class="dynamic-options">
                    {% for placa in placas %}
                        <div class="dynamic-option">{{ placa.placa }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group hidden" id="div-observacoes">
                <label for="observacoes">Observações</label>
                <input class="form-control" id="observacoes" name="observacoes">
            </div>
            <div class="form-group">
                <label for="quilometragem">Quilometragem</label>
                <input type="number" class="form-control" id="quilometragem" name="quilometragem" required>
            </div>
            <div class="form-group">
                <label for="cidade">Cidade</label>
                <select name="cidade" id="cidade" class="form-control" required>
                    <option disabled selected value="" class="default-option">Selecione a cidade do veículo</option>
                    {% for cidade in cidades %}
                        <option>{{ cidade.cidade }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="posto">Posto</label>
                <select name="posto" id="posto" class="form-control" onchange="verificarNomeDoPosto()" required>
                    <option disabled selected value="" style="color: gray;">Selecione um posto</option>
                    {% for posto in postos %}
                        <option value="{{ posto.posto }}">{{ posto.posto }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="volume">Volume abastecido</label>
                <input type="text" class="form-control" id="volume" name="volume" pattern="[\d,.]*" maxlength="4" inputmode="numeric" required>
            </div>
            <div class="form-group hidden" id="div-odometro">
                <label for="odometro">Odômetro</label>
                <input type="number" class="form-control" id="odometro" name="odometro">
            </div>
            <div class="form-group hidden" id="div-combustivel">
                <label for="combustivel">Combustível</label>
                <select name="combustivel" id="combustivel" class="form-control">
                    <option disabled selected value="" style="color: gray;">Selecione o combustível</option>
                    <option value="DIESEL S-10">DIESEL S-10</option>
                    <option value="GASOLINA">GASOLINA</option>
                    <option value="GASOLINA ADT">GASOLINA ADT</option>
                </select>
            </div>
            <div class="form-group hidden" id="div-preco">
                <label for="preco">Preço do Litro</label>
                <div class="input-preco">
                    <i>R$</i>
                    <input type="text" class="form-control" id="preco" name="preco" value="0,00" maxlength="5" pattern="\d,\d{2}" onkeyup="myCurrency(event)" inputmode="numeric">
                </div>
            </div>
            <div class="botoes-container">
                <button type="button" class="btn btn-danger btn-lg" id="limpar" onclick="confirmarLimpeza('abastecimentos')">Limpar</button>
                <button type="submit" class="btn btn-success btn-lg" id="enviar-btn">Enviar</button>
            </div>
        </form>
    </div>
{% endblock %}
